@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

// header start

.header {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 47px 0 45px;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        @include bold;
        font-size: 36px;

        span {
            @include reg;
            font-size: 16px;
            color: $tomato;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;

        li,
        a {
            @include reg;
            font-size: 18px;
            color: $text;
            border-radius: 50px;
        }

        li {
            padding-top: 15px;
        }

        a {
            transition: linear 0.5s;
            padding: 18px 23px;

            &:hover {
                background-color: $tomato;
                border-radius: 50px;
                padding: 13px 23px;
                color: $bg;
            }
        }
    }
}

// header end
// big-photo start

.big-photo {
    background-image: url(../images/main-bg.jpg);
    width: 100%;
    min-height: 1325px;
    height: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: top center;
    text-align: center;

    &__inner {
        padding-top: 475px;
    }

    &__title {
        @include slab-light;
        font-size: 72px;
        color: #ffffff;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    }

    &__subtitle {
        @include bold;
        font-size: 30px;
        color: #ffffff;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    }

    &__items {
        display: flex;
        justify-content: space-around;

        padding-top: 120px;
    }

    &__small-photo {
        width: 148px;
        height: 148px;
        border-radius: 50%;
        margin-bottom: 25px;
    }

    &__item-title {
        @include bold;
        color: #ffffff;
        font-size: 24px;
        padding-bottom: 25px;
    }

    &__item-text {
        @include light;
        color: #ffffff;
        font-size: 15px;
        line-height: 30px;
        max-width: 305px;
        width: 100%;
        padding-bottom: 75px;
    }

    &__link {
        @include reg;
        font-size: 18px;
        color: #612316;
        padding: 15px 63px;
        background-color: #ffffff;
        border-radius: 50px;
    }
}

// big-photo end
// news start

.news {
    background-color: $bg;
    text-align: center;
    min-height: 790px;
    height: 100%;

    &__title {
        padding: 70px 0 75px;
        @include bold;
        color: $text;
        font-size: 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;
    }

    &__img {
        max-height: 255px;
        height: 100%;
        border-radius: 5px 5px 0 0;
        margin-bottom: 33px;
    }

    &__item-title {
        @include bold;
        color: $text;
        font-size: 24px;
        padding-bottom: 10px;
    }

    &__item-text {
        color: $text;
        @include light;
        font-size: 15px;
        line-height: 30px;
        padding: 0 40px 50px;
    }

    &__link {
        padding: 15px 55px;
        background-color: #ffffff;
        color: $text;
        @include light;
        font-size: 15px;
        border-radius: 50px;
        margin-bottom: 100px;
    }
}

// news end
// newsletter start

.newsletter {
    width: 100%;
    max-height: 385px;
    height: 100%;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/content/newsletter-bg.jpg);
        filter: brightness(80%);
        max-height: 383px;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    &__inner {
        padding: 90px 0 105px;
        text-align: center;
    }

    &__title {
        @include bold;
        font-size: 30px;
        color: #ffffff;
        padding-bottom: 15px;
    }

    &__text {
        @include light;
        font-size: 15px;
        line-height: 24px;
        color: #ffffff;
        padding-bottom: 35px;
        max-width: 535px;
        width: 100%;
        margin: 0 auto;
    }

    &__form {
        position: relative;
        max-width: 510px;
        width: 100%;
        margin: 0 auto;

        input {
            border: 1px solid #c5c7c7;
            background-color: #a5a4a1;
            padding: 17px 35px;
            border-radius: 50px;
            width: 100%;

            &::placeholder {
                @include reg;
                font-size: 18px;
                color: #ffffff;
            }
        }

        button {
            position: absolute;
            padding: 17px 75px;
            border: 1px solid #c5c7c7;
            right: 0;
            border-radius: 50px;
            background-color: #ffffff;
            @include reg;
            font-size: 18px;
            color: #612316;
        }
    }
}

// newsletter end
// content start

.content {
    background-color: #fff;

    &__inner {
        padding: 65px 0 85px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    &__item-right-img,
    &__item-left-img {
        width: 545px;
        height: 405px;
        background-size: cover;
        object-fit: cover;
    }

    &__item-right-img {
        margin-right: 40px;
    }

    &__item-left-img {
        margin-left: 40px;
    }

    &__item-title {
        padding-top: 45px;
        @include bold;
        font-size: 30px;
        color: #191b29;
        padding-bottom: 20px;
    }

    &__item-text {
        @include light;
        font-size: 16px;
        color: #191b29;
        line-height: 30px;
        padding-bottom: 60px;

        span {
            padding-top: 30px;
            display: block;
        }
    }

    &__item-link {
        color: #ffffff;
        @include reg;
        font-size: 18px;
        border-radius: 50px;
        padding: 14px 60px;
    }

    &__item-right-link {
        background-color: $tomato;
    }

    &__item-left-link {
        background-color: #4b4e73;
    }
}

// content end
// list start

.list {
    background-color: #d75d0e;

    &__inner {
        padding: 95px 0 70px;
        display: flex;
        justify-content: space-around;
    }

    &__items {
        text-align: center;

        li {
            padding-bottom: 20px;
        }

        a {
            @include reg;
            font-size: 16px;
            color: #ffffff;
        }
    }
}

// list end
// footer start

.footer {
    background-image: url(../images/content/newsletter-bg.jpg);
    width: 100%;
    height: 375px;
    filter: brightness(80%);
}

// footer end

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
